/*
@import "variables.scss";

@import "base.scss";
@import "header.scss";
@import "graphs.scss";
@import "MainView.scss";
@import "ProductView.scss";

@import "responsive.scss";
*/
@import "materialize/materialize.scss";

@import "graphs.scss";