@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700);


/* Variables */
$header-font:	Lato, sans;
$content-font:	Merriweather, sans-serif;

$max-width:	1000px;

$primary-color:				#673AB7;
$primary-color-light:		#D1C4E9;
$primary-color-dark:		#512DA8;
$secondary-color:			#FF4081;
$secondary-color-light:		#FF80AB;
$secondary-color-dark:		#F50057;

$black:	#222222;
$white:	#FFFFFF;