/* Goolge Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700);

/* Variables */
$header-font:	Lato, sans;
$content-font:	Merriweather, sans-serif;

$max-width:	1000px;

$primary-color:				#673AB7;
$primary-color-light:		#D1C4E9;
$primary-color-dark:		#512DA8;
$secondary-color:			#FF4081;
$secondary-color-light:		#FF80AB;
$secondary-color-dark:		#F50057;

$black:	#222222;
$white:	#FFFFFF;

/* Main Style */

h1, h2, h3, h4, h5, h6
{
	font-family: $header-font;
}

body, p, input
{
	color: $black;
	font-family: $content-font;
	font-size: 16px;
}

input
{
	outline-color: $primary-color;
	outline-width: 2px;
}

.logo
{
	color: $primary-color;
	font-size: 3em;

	.background-badge
	{
		background-color: $primary-color;
		color: $white;
		margin: 8px;
		padding: 16px;
	}
}

.button
{
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid $primary-color;
	border-radius: 3px;
	color: $primary-color;
	font-family: $content-font;
	font-weight: bold;
	padding: 8px 40px;
	transition: background-color 0.7s ease;

	&:hover
	{
		background-color: $primary-color;
		color: $white;
		cursor: pointer;
	}
}

nav
{
	margin: 24px auto 48px auto;
	width: $max-width;

	h2
	{
		margin: 0px;
	}
}

.amazon_search_item_container
{
	background: #FFFFFF;
	border-radius: 2px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);
	display: inline-block;
	margin: 1%;
	overflow: hidden;
	width: 30%;
	height: 400px;
	position: relative;

	a
	{
		color: $black;
		&:visited
		{
			color: $black;
		}
	}

	.amazon_image
	{
		position: relative;
		width: 100%;
		overflow: hidden;
		z-index: 1;

		img
		{
			width: 100%;
		}
	}

	.amazon_price
	{
		background: $secondary-color;
		color: $white;
		font-weight: 300;
		padding: 8px 8px 8px 4px;
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.amazon_title
	{
		  padding: 8px;
		  position: absolute;
		  z-index: 20;
		  background: #fff;
		  bottom: -20px;
		  width: 100%;
		  max-height: 3.5em;
	}
}

#page_wrapper
{
	margin: 0 auto;
	width: $max-width;

	#content_wrapper
	{
		width: 100%;

		#form_search
		{
			width: 100%;

			#input_search
			{
				padding: 8px;
				width: 70%;
			}
			#button_search
			{
				width: 25%;
			}
		}
	}
}

/* Media Queries */
@media only screen and (min-width: 768px)
{
    /* tablets and desktop */
    #page_wrapper
    {
    	#content_wrapper
    	{
    		#form_search
    		{

    		}
    	}
    }
}

@media only screen and (max-width: 767px)
{
    /* phones */
    #page_wrapper
    {
    	#content_wrapper
    	{
    		#form_search
    		{

    		}
    	}
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait)
{
    /* portrait phones */
    #page_wrapper
    {
    	#content_wrapper
    	{
    		#form_search
    		{

    		}
    	}
    }
}