<div id="page_wrapper">
  <div id="content_wrapper">
    <div class="row">
        <form class="col s12" id="form_search" ng-submit="search(keyword, searchIndex)">
            <div class="row">
                <div class="input-field col s12 m4 l8">
                    <i class="mdi-action-search prefix"></i>
                    <input id="search_input" type="text" class="validate" ng-model="keyword">
                    <label for="search_input">Search by product or ASIN</label>
                </div>
                <div class="input-field col s8 m4 l2">
                    <select class="" material-select ng-model="searchIndex">
                        <option value="All">All</option>
                        <option value="Apparel">Apparel</option>
                        <option value="Appliances">Appliances</option>
                        <option value="ArtsAndCrafts">Arts and Crafts</option>
                        <option value="Automotive">Automotive</option>
                        <option value="Baby">Baby</option>
                        <option value="Beauty">Beauty</option>
                        <option value="Books">Books</option>
                        <option value="Classical">Classical</option>
                        <option value="Collectibles">Collectibles</option>
                        <option value="DVD">DVD</option>
                        <option value="DigitalMusic">Digital Music</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Fashion">Fashion</option>
                        <option value="HealthPersonalCare">Health and Personal Care</option>
                        <option value="HomeGarden">Home and Garden</option>
                        <option value="Industrial">Industrial</option>
                        <option value="Jewelry">Jewelry</option>
                        <option value="Kitchen">Kitchen</option>
                        <option value="LawnAndGarden">Lawn and Garden</option>
                        <option value="Luggage">Luggage</option>
                        <option value="Music">Music</option>
                        <option value="OfficeProducts">Office</option>
                        <option value="OutdoorLiving">Outdoor Living</option>
                        <option value="PCHardware">PC Hardware</option>
                        <option value="PetSupplies">Pet Supplies</option>
                        <option value="Photo">Photo</option>
                        <option value="Shoes">Shoes</option>
                        <option value="Software">Software</option>
                        <option value="SportingGoods">Sporting Goods</option>
                        <option value="Tools">Tools</option>
                        <option value="Toys">Toys</option>
                        <option value="VideoGames">Video Games</option>
                        <option value="Watches">Watches</option>
                        <option value="Wireless">Wireless</option>
                        <option value="WirelessAccessories">Wireless Accessories</option>
                    </select>
                </div>
                <div class="input-field col s4 m4 l2">
                    <button class="btn waves-effect waves-light" type="submit" name="action">{{searchText}}</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
		<div class="col s12 m6 l4" ng-repeat="searchResult in searchResults.data">
			<div class="card large">
				<div class="card-image">
					<img ng-src="{{searchResult.ImageURL}}">
					<span class="card-title blue">{{searchResult.FormattedPrice}}</span>
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">{{searchResult.ProductTitle}} <i class="mdi-navigation-more-vert right"></i></span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{searchResult.ProductTitle}} <i class="mdi-navigation-close right"></i></span>
					<p>{{searchResult.ProductDescription}}</p>
				</div>
				<div class="card-action white">
					<a ng-href="#/product/{{searchResult.ASIN}}">View Details</a>
					<a ng-href="http://amazon.com/dp/{{product.ASIN}}/?tag=unmarket-20">View on Amazon</a>
				</div>
			</div>
		</div>
	</div>

	<!--<i id="load_more_results" class="fa fa-plus-circle" ng-click="moreResults(keyword, searchIndex)"></i>-->

  </div>
</div>