<div id="page_wrapper">
    <div id="content_wrapper">
        <div id="amazon_product_details">
            <h2>{$amazon_product->Title}</h2>
            <img src="{$amazon_product->ImageURL}" />
            <p class="amazon_product_description">
                {$amazon_product->Description}
            </p>
        </div>
        <div id="amazon_product_price_history">
            <div class="button">Add To Wishlist</div>
            <h4>Price History</h4>
            <ul>
            </ul>
        </div>
    </div>
</div>