<div id="page_wrapper">
    <div id="content_wrapper">
        <h2>{{product.ProductTitle}} - {{product.ASIN}}</h2>
        <div class="amazon_product_details_item_container no_padding">
            <a ng-href="http://amazon.com/dp/{{product.ASIN}}/?tag=unmarket-20" title="View on Amazon">
                <div class="amazon_image">
                    <img ng-src="{{product.ImageURL}}" />
                    <h4 class="amazon_price">{{product.FormattedPrice}}</h4>
                </div>
            </a>
        </div>
        <div class="amazon_product_details_item_container">
            <form class="price_watch_form" ng-submit="addPriceWatchItem(desiredPrice, email)">
                <h3>Price Watch</h3>
                <input type="text" placeholder="Desired Price" class="text_field" ng-model="desiredPrice" ng-blur="formatNumber(desiredPrice)" />
                <input type="email" placeholder="Email" class="text_field" ng-model="email" /><br/>
                <input type="submit" value="Get Email Notifications" class="button" /><br/>
                <p><a ng-href="http://amazon.com/dp/{{product.ASIN}}/?tag=unmarket-20">View on Amazon</a></p>
            </form>
            <h3>Product Description</h3>
            <p>{{product.ProductDescription}}</p>
        </div>
        <div>
            <h3>Price History</h3>
            <div linear-chart chart-data="priceHistory" ASIN="{{product.ASIN}}"></div>
        </div>
    </div>
</div>